
  <div class="container">
    <div id="aboutuspage">
      <h3 id="aboutus" style="text-align:center;">ABOUT US</h3></br>
      <div class="about-us-content">
        <h4>Our Story</h4>
        <i>“I don’t know what and where to eat”</i> ~ quoted by Everyone Ever</br></br>
        On June 24th of 2016, in a coffee shop called Simple Pleasures, four General Assembly students envisioned a world where people and restaurants could have a more intimate relationship. These four students, otherwise known as m2the4th, set out to make this world a reality.
        </br></br>
        With Foodly, you can locate restaurants that are within your current area, see how others have rated restaurants, check out reviews, and more. New features are being added weekly! </br></br>
        <h4>Meet the Team</h4></br>
        <div class="row">
          <div class="col s12 m6 founders">
            <img src="https://avatars0.githubusercontent.com/u/13306885?v=3&s=400">
            </br>
            <strong>Matt Laguardia</strong>
          </div>
          <div class="col s12 m6 founders">
            <img src="https://avatars3.githubusercontent.com/u/18298639?v=3&s=460">
            <br>
            <strong>Jen McPhail</strong>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 founders">
            <img src="https://avatars3.githubusercontent.com/u/16328122?v=3&s=400">
            </br>
            <strong>Matt Sullivan</strong>
          </div>
          <div class="col s12 m6 founders">
            <img src="https://avatars0.githubusercontent.com/u/18355766?v=3&s=400">
            <br>
            <strong>Mike Cheng</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
