<div class="row">
  <div class="col s8 offset-s2">
    <div id="aboutuspage">
      <h3 style="text-align:center;">ABOUT US</h3></br>
      <h4>Our Story</h4>
      <i>“I don’t know what and where to eat”</i> ~ quoted by Everyone Ever</br></br>
      On June 24th of 2016, in a coffee shop called Simple Pleasures, four General Assembly students envisioned a world where people and restaurants can have a more intimate relationship. These four students, otherwise known as m2The4th, set out to make this world a reality!
      </br></br>
      With Foodly, you can locate restaurants that are within your current area. See how others have rated this restaurant. Check out reviews from Yelp. More features are being added weekly! </br></br>
      <h4>Meet the Team</h4></br>
      <div class="row">
        <div class="col s6 founders">
          <img src="https://avatars0.githubusercontent.com/u/13306885?v=3&s=400">
          </br>
          <strong>Matt Laguardia</strong>
        </div>
        <div class="col s6 founders">
          <img src="https://avatars3.githubusercontent.com/u/18298639?v=3&s=460">
          <strong>Jen Mcphail</strong>
        </div>
      </div>
      <div class="row">
        <div class="col s6 founders">
          <img src="https://avatars3.githubusercontent.com/u/16328122?v=3&s=400">
          </br>
          <strong>Matt Sullivan</strong>
        </div>
        <div class="col s6 founders">
          <img src="https://avatars0.githubusercontent.com/u/18355766?v=3&s=400">
          <strong>Mike Cheng</strong>
        </div>
      </div>
    </div>
  </div>
</div>
