<div class="row">
  <div class="col s8 offset-s2">
    <div id="contactpage">
      <h3 style="text-align:center;">Contact</h3>
      <h4> Hours </h4>
      Office Hours: 9:30 AM - 5 PM (Monday - Friday)</br></br>
      If you have any issues or questions regarding Foodly, please contact us at:</br>
      Email: customerservice@foodly.com
    </div>
  </div>
</div>
