<div class="parallax-container">
  <div class="parallax" id="users-index-bg-image"></div>
</div>
<div class="container row" id="login-form">
  <div class="col s8" id="login-form-bg">
<div class="container row" id="homepage">
	<div class="col s6">
    	<%= button_to "Signup", new_user_path, method: "get", class: "btn", id: "signup-button" %>
    </div>
    <div class="col s6">
    	<%= button_to "Login", login_path, method: "get", class: "btn", id: "login-button" %>
    </div>

</div>

