
  <div id="users-index-bg-image"></div>
<div class="" id="login-form">
  <div class="col 12s 6m" id="login-form-bg">
    <h3 class="sign-up-title"> Welcome to Foodly! </h3>
    <div class="">
      <div class="">
        <p> New user? Create an account! </p>
      </div>
      <div class="">
        <%= button_to "Signup", new_user_path, method: "get", class: "btn", id: "signup-button" %>
      </div>
      <br>
      <div class="">
        <p> Already have an account? Sign in! </p>
      </div>
      <div class="">
        <%= button_to "Login", login_path, method: "get", class: "btn", id: "login-button" %>
      </div>
    </div>
    <div class="container" id="homepage">
    </div>
  </div>
</div>
