/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#aboutus{
  padding-top: 30px;
  color: white;
}

.about-us-content{
  color: white;
}

nav {
  background-color: #1D374F;
}
input.formInput {
  border: 1px solid #ffffff;
  border-radius: 2px;
}
img.yelp-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
.parallax-container {
  height: 1500px;
}
.alert {
  background-color: rgba(250, 74, 74, 0.9);
  color: white;
  font-size: 20px;
}
.yelp-image-div {
  padding: 20px;
}
.swipe-card {
  border: 1px solid #c5c3c3;
  text-align: center;
  background-color: white;
}
.swiped {
  background-color: red;
}
.edit-profile-img {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  width: 200px;
  display: block;
  margin: 0 auto;
}
.edit-form {
  padding-top: 25px;
  padding-bottom: 25px;
}
.edit-header {
  border-bottom: 1px solid #ffffff;
}
.edit-form-bg {
  border-radius: 10px;
  background-color: rgba(55, 51, 51, 0.9);
  padding-bottom: 10px;
  color: white;
}
/*.bg-image-edit {
  background: url(food-on-table.jpg) no-repeat center center fixed;
  background-size: cover;
}*/
.pie-graph {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#restaurant-image {
  padding-top: 5px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 11%;
  top: 34%;
}
#restaurant-likes {

  border-top: 1px solid #c5c3c3;
  padding-top: 5px;
  width:67%;
  position: relative;
  left: 15%;
}
#restaurant-description {
  padding-top: 10%;
  padding-bottom: 10%
}
#profile-pic-div {
  margin-bottom: 5%;
  padding-bottom: 5%;
  align-content: center;
  border-bottom: 1px solid #c5c3c3;
  text-align: center;
}
#profile-img {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  width: 200px;
  position: inherit;
}
#res-card {
  align-items: center;
}

#login-form {
  color: white;
  position: absolute;
  top: 25%;
  text-align: center;
  margin-left: 30%;
}

@media (max-width: 600px) {
  #login-form {
   margin-left: 7.5%;
  }
}

@media (max-height: 750px) {
  #users-index-bg-image {
   height: 750px;
  }
}

@media (max-width: 400px) {
  #login-form {
   margin-left: 0.5%;
  }
}

#login-form-bg {
  background-color: rgba(55, 51, 51, 0.7);
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 10%;
  position: relative;
}

.sign-up-form-bg{
  background-color: rgba(55, 51, 51, 0.7);
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 10%;
  position: relative;
}

.sign-up-form {
  color: white;
  position: absolute;
  top: 25%;
  text-align: center;
  margin-left: 20%;
  width: 50%;
}

@media (max-width: 800px) {
  .sign-up-form {
   width: 80%;
   margin-left: 10%;
   margin-top: -20%
  }
}

@media (max-width: 600px) {
  .sign-up-form {
   width: 80%;
   margin-left: 10%;
   margin-top: -20%
  }
}

/*@media (max-width: 400px) {
  #login-form {
   margin-left: 0.5%;
  }
}*/



#profile-content {
  background-color: rgba(55, 51, 51, 0.7);
  position: absolute;
  right: 14%;
  top: 35%;
  width: 76%;
  border-radius: 10px;
  padding-bottom: 10px;
  padding: 5%;
  color: white;
}
#login-submit {
  background-color: #327D8F;
}

#login-bg-image {
  background: url(food-on-table.jpg) no-repeat center center fixed;
  background-size: cover;
}

#users-index-bg-image{
  background: url(http://freshandfitvancouver.com/wp-content/uploads/2016/03/bigstock-Food-Table-Healthy-Delicious-O-92994914.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 600px;
}

@media (max-height: 736px) {
  #users-index-bg-image {
   height: 736px;
  }
}

#signup {
  background-color: #1D374F;
}
.like-button{
  float: right;
}
.dislike-button{
  float: left;
}

nav .brand-logo {
  padding-left: 25px;
}

/*#login-button{
  float: right;
  align: right;
  clear: both;
}*/

/*.new-user-bg-image{
  background: url(food-on-table.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 1000px;
}*/

form.button_to{
  margin: auto 0;
}

#supreme-bg-image{
  background: url(https://www.bonappetour.com/assets/images/experiences/1447095355-9619536.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
}

#aboutuspage{
 background-color: rgba(55, 51, 51, 0.8);
 border-radius: 20px;
 padding-bottom: 10px;
 padding-left: 50%;
 padding-right: 10px;
 text-align: center;

}

#contactpage{
 background-color: rgba(55, 51, 51, 0.8);
 border-radius: 20px;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 10px
}
.founders {
 text-align :center;
}

.founders img{
 width: 80%;
 border-radius: 120px;
}

#likes-count {
  border-top: 1px solid #c5c3c3;
}
#resName {
  text-align: center;
  position: relative;
  left: 11%;
  margin-top: 3%;
}
#username {
  text-align: center;
}
/*#profile {
  background: url(http://i.huffpost.com/gen/1885916/images/o-FOOD-facebook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
  height: 5000px;
}*/

#aboutuspage {
  background-color: rgba(55, 51, 51, 0.7);
  border-radius: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px
}

#contactpage{
  background-color: rgba(55, 51, 51, 0.7);
  border-radius: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px
}
.founders {
  text-align :center;
}

.founders img{
  width: 80%;
  border-radius: 120px;
}
#qr {
  width: 100%;
}
#dd {
  padding-top: 20%;
  display: inline-block;
  text-align: center;
    position: relative;
}
.card-img {
  width: 300px;
}

body{
  background-color: #1d374f;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.restaurant-title{
  color: white;
  text-shadow: 2px 1px black;
}

.sign-up-title{
  text-align: center;
}
