<section id="supreme-bg-image">
<div class="parallax-container">
  <div class="parallax" ></div>
</div>
<div class="container row" id="login-form">
  <div class="col s8" id="login-form-bg">
  <h4 class="foodlySupreme">Thank you!</h4>
  Your payment has been received.
</div>
</section>



