<form action="/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_aaq2unvoPqvoE0Fil7TPG7nB"
    data-amount="2000"
    data-name="PAY NOW"
    data-description="NOWWW"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
