
<section id="supreme-bg-image">
<div class="parallax-container">
  <div class="parallax" ></div>
</div>
<div class="container row" id="login-form">
  <div class="col s8" id="login-form-bg">
  <h4 class="foodlySupreme">Get Foodly Supreme</h4>
  Want free meals and special offers from your liked restaurants? Sign up for Foodly Supreme.
  <br>
  <br>
  
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <form action="/charges" method="POST">

    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
       data-key="pk_test_aaq2unvoPqvoE0Fil7TPG7nB"
       data-amount="9900"
       data-name="PAY NOW"
       data-description="Montly Subscription"
       data-locale="auto">
     </script>
</form>


</div>
</section>





